/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Menu panel and palette styles */

#appMenu-new-window-button {
  list-style-image: url(chrome://browser/skin/new-window.svg);
}

#appMenu-private-window-button {
  list-style-image: url(chrome://browser/skin/privateBrowsing.svg);
}

#appMenu-print-button {
  list-style-image: url(chrome://browser/skin/print.svg);
}

#appMenu-library-button {
  list-style-image: url(chrome://browser/skin/library.svg);
}

#appMenu-logins-button,
#PanelUI-fxa-menu-logins-button {
  list-style-image: url(chrome://browser/skin/login.svg);
}

#appMenu-addons-button {
  list-style-image: url(chrome://mozapps/skin/extensions/extension.svg);
}

#PanelUI-fxa-menu-sync-prefs-button,
#PanelUI-fxa-menu-account-devices-button,
#appMenu-preferences-button {
  list-style-image: url(chrome://global/skin/icons/settings.svg);
}

#appMenu-customize-button {
  list-style-image: url(chrome://browser/skin/customize.svg);
}

#appMenu-find-button,
#panelMenu_searchBookmarks {
  list-style-image: url(chrome://browser/skin/search-glass.svg);
}

#appMenu_help_importFromAnotherBrowser {
  list-style-image: url(chrome://browser/skin/import.svg);
}

#appMenu-taskmanager-button {
  list-style-image: url(chrome://global/skin/icons/performance.svg);
}

#appMenu-whatsnew-button {
  list-style-image: url(chrome://browser/skin/whatsnew.svg);
}

#appMenu-help-button {
  list-style-image: url(chrome://global/skin/icons/help.svg);
}

#appMenu-cut-button {
  list-style-image: url(chrome://browser/skin/edit-cut.svg);
}

#appMenu-copy-button {
  list-style-image: url(chrome://browser/skin/edit-copy.svg);
}

#appMenu-paste-button {
  list-style-image: url(chrome://browser/skin/edit-paste.svg);
}

#appMenu-quit-button {
  list-style-image: url(chrome://browser/skin/quit.svg);
}

#appMenu-zoomEnlarge-button {
  list-style-image: url(chrome://browser/skin/zoom-in.svg);
}

#appMenu-zoomReduce-button {
  list-style-image: url(chrome://browser/skin/zoom-out.svg);
}

#appMenu-fullscreen-button {
  list-style-image: url(chrome://browser/skin/fullscreen.svg);
}

#appMenu-fullscreen-button[checked] {
  list-style-image: url(chrome://browser/skin/fullscreen-exit.svg);
}

#appMenu-library-pocket-button {
  list-style-image: url("chrome://browser/skin/pocket.svg");
}

#appMenu-library-history-button {
  list-style-image: url(chrome://browser/skin/history.svg);
}

#PanelUI-fxa-menu-remotetabs-button,
#appMenuRecentlyClosedTabs,
#appMenu-library-remotetabs-button {
  list-style-image: url("chrome://browser/skin/tab.svg");
}

#PanelUI-fxa-menu-syncnow-button,
#PanelUI-fxa-menu-setup-sync-button,
#PanelUI-remotetabs-syncnow {
  list-style-image: url("chrome://browser/skin/sync.svg");
}

#PanelUI-fxa-menu-view-managedevices
#PanelUI-remotetabs-view-managedevices {
  list-style-image: url("chrome://browser/skin/device-phone.svg");
}

#PanelUI-fxa-menu-view-sidebar,
#appMenuViewHistorySidebar,
#PanelUI-remotetabs-view-sidebar,
#panelMenu_viewBookmarksSidebar {
  list-style-image: url("chrome://browser/skin/sidebars-right.svg");
}

#PanelUI-fxa-menu-view-sidebar:-moz-locale-dir(ltr):not([positionend]),
#PanelUI-fxa-menu-view-sidebar:-moz-locale-dir(rtl)[positionend],
#appMenuViewHistorySidebar:-moz-locale-dir(ltr):not([positionend]),
#appMenuViewHistorySidebar:-moz-locale-dir(rtl)[positionend],
#PanelUI-remotetabs-view-sidebar:-moz-locale-dir(ltr):not([positionend]),
#PanelUI-remotetabs-view-sidebar:-moz-locale-dir(rtl)[positionend],
#panelMenu_viewBookmarksSidebar:-moz-locale-dir(ltr):not([positionend]),
#panelMenu_viewBookmarksSidebar:-moz-locale-dir(rtl)[positionend] {
  list-style-image: url("chrome://browser/skin/sidebars.svg");
}

#panelMenu_bookmarkingTools {
  list-style-image: url("chrome://browser/skin/developer.svg");
}

#panelMenu_viewBookmarksToolbar {
  list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}

#panelMenuBookmarkThisPage {
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");
}

#appMenu-library-bookmarks-button,
#panelMenuBookmarkThisPage[starred] {
  list-style-image: url("chrome://browser/skin/bookmark.svg");
}

#bookmarks-menu-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #bookmarks-menu-button,
#panelMenu_toggleBookmarksMenu {
  list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}

#appMenuClearRecentHistory {
  list-style-image: url("chrome://browser/skin/forget.svg");
}

#appMenuRestoreLastSession {
  list-style-image: url("chrome://browser/skin/restore-session.svg");
}

#appMenuRecentlyClosedWindows {
  list-style-image: url(chrome://browser/skin/window.svg);
}

#appMenu-library-downloads-button {
  list-style-image: url("chrome://browser/skin/downloads/download-icons.svg#arrow-with-bar");
}

#appMenu-library-downloads-show-button {
  list-style-image: url("chrome://browser/skin/folder.svg");
}

.panel-subview-body .ssb-uninstall > .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/close.svg");
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0;
}

#appMenuNewIdentity {
  list-style-image: url("chrome://browser/skin/new_identity.svg");
}

#appMenuNewCircuit {
  list-style-image: url("chrome://browser/skin/new_circuit.svg");
}
